.left{
    float: left;
    width: 79%;
    border: .5px solid #ff0000;
}
.right{
    float: left;
    width: 20%;
    border: .5px solid #ff0000;
}
.row1{
    border: .5px solid #ff0000;
    margin-bottom: 10px; 
    text-align: right;
    color:#ffffff;
    background-color: #ff0000;
}
.row2{
    border: .5px solid #ff0000;
    text-align: center;
    color:#ff0000;
    background-color: #ffbbbb;
}
.contextleft,.contextright{
    float: left;
    width: 49.5%;
    border: .5px solid #ff0000;
    height: 300px;

}

ul li{
    margin: 10px 0 10px 0;
}