/* cau 1 */
.header{
    text-align: center;
    color: #006600;
}
.debai{
    color: #0000ff;
}

.noidung{
    text-align: center;
}
/* cau 2 */
.title{
    color: #ff3399;
    background-color: #fecffd;
}

/* cau 3 */